{% extends 'mybase.html' %}
{% load static %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block above_content %}
{% endblock %}

{% block content %}

<div class="parallax-container parallax-height">
    <div class="parallax"><img src="{{ object.image.url }}"></div>
</div>

{% if messages %}
<div>
    <p>
        <ul>
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
        </ul>
    </p>
</div>
{% endif %}

<div class="container">
  <h1>
    {{ object.title }}
  </h1>
  <p style="font-size: 12px;">{{ object.updated_date | date:"M d, Y" }}</p>
</div>

<div class="row">

<div class="col s12 l2">
</div>

<div class = 'is-node col s12 l6' >
  {{ object.body | safe }}
</div>

<div class="col s12 l3" style="
margin: 0;
position: -webkit-sticky;
position: sticky;
top: 100px;
height: auto;
">
  {% include 'susubscribers/side_susbcribe_form.html' %}

  <ul class="collection container " id='table-of-content' >

  </ul>
</div>

<div class="col s12 l1">
</div>

</div>




<div class="container" id='comment-button'>
  <a style="color: #000;text-decoration: underline;cursor: pointer;" class="right" onclick="showComments()">
    <h4>
      Show Comments
    </h4>
  </a>
</div>

<div id='comment-section' style="display: none;">
  {% for comment in comments %}
    {% include 'comments/show.html' %}
  {% empty %}
    <div class="container">No Comments</div>
  {% endfor %}

  <div  class="container" id='comment-button'>
    <a style="color: #000;text-decoration: underline;cursor: pointer;" class="right" onclick="hideComments()">
      <h4>
        Hide Comments
      </h4>
    </a>
  </div>  
</div>

<div >
      {% include 'comments/form.html' %} 
</div>
<div style="height: 50px;" onmouseup=""></div>


<script>
  function showComments() {
    document.getElementById('comment-section').style.display = 'block';
    document.getElementById('comment-button').style.display = 'none';
  }
  function hideComments(params) {
    document.getElementById('comment-section').style.display = 'none';
    document.getElementById('comment-button').style.display = 'block';
  }
</script>
<script>
  let h3 = document.querySelectorAll('h3')
  let text = "<li class='collection-item' style='font-weight:550'>Table of Content</li>";
  for (i=0; i<h3.length; i++){
    let name = h3[i].querySelector('a').name;
    let span = h3[i].querySelector('span').innerHTML;
    text += `<a href='#${name}'  onmouseup="scrollWin()" ><li class='collection-item'>• ${span}</li></a>`;
  }
  document.getElementById('table-of-content').innerHTML = text;
</script>
<script>
function scrollWin() {
  // window.scrollBy(0, -100);
}
</script>
  {% endblock %}



  {% block bellow_content %}
  <div style="height: 50px;"></div>
  {% endblock %}