<div class="row container">
{% if user.is_authenticated %}
    <form class="col s12 card no_transcation" action="{% url 'comment_add' %}" method="POST">
      <div class="row">
          {% csrf_token %}
          <div style="padding: 5px 20px">
            <h4>Comment</h4>
            <div class="input-field col s12">
            <textarea name="text" id="textarea1" class="materialize-textarea"></textarea>
            <label for="icon_prefix">Text</label>
            <input type="hidden" name="prevous" value="{{ request.path }}">
            <input type="hidden" name="user" value="{{ user.id }}">
            <input type="hidden" name="post" value="{{ object.id }}">
            <input type="hidden" name="reply_to" value="">
            </div>
            <div class="col s12 offset-by-1">
                <button class="btn waves-effect waves-light right" type="submit" name="action">Comment
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
      </div>
    </form>

    {% else %}
    <div class="col s12">
        <!-- <div class="container"> -->
            <a class="btn" href="{% url 'account_login' %}" style="width: 100%;"> Login to Comment</a>
        <!-- </div> -->
    </div>
    {% endif %}
</div>

        