<div class="container">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1 no_transcation">
            <div class="row valign-wrapper">
             <div class="col s2">
                {{ comment.user.username }}
                <!-- <img src="images/yuna.jpg" alt="" class="circle responsive-img"> notice the "circle" class -->
            </div> 
            <div class="col s10">
                <span class="black-text">
                    {{ comment.text }}
                </span>
            </div>
            </div>
        </div>
    </div>
</div>